<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        var n=5
        var string=""
        for(i=0;i<n;i++){
            for(j=0;j<i+1;j++){
                string+= "*"
            }
            string+= "\n"
        }
        for(i=1;i<n;i++){
            for(j=i;j<n;j++){
                string+="*"
            }
            string+="\n"
        }
        console.log(string)
    </script>
</body>
</html>