{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="{% static 'js/first.js' %}"></script>
    
</head>
<body>
    <button>sign up</button>
    <!-- <script>
        alert('hello')
    </script> -->
    <script> 
    var num1=30
    var num2=40
    var result=num1+num2;
    console.log(result)
    document.write('<br />')
    document.write('<b>',result,'</b>')
    </script>
</body>
</html>