<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <script>
        var i=prompt('enter ')//1
        var j=prompt('enter ')//2
        var k=prompt('ENTER')//3
        if(i>j&&i>k){   
            console.log(i, 'is greater')
        }
        else if(j>i&&j>k){
            console.log(j,'is greater')
        }
        else{
            console.log(k,'is greater')
        }
    </script>
</body>
</html>