<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

</head>
<body>
    <!-- <script>
        var a="helloo"
        var b=true
        console.log(typeof(b))
    </script> -->
    <!-- <script>
        var num1=prompt("enter first number")
        console.log(num1)
        var num2=prompt("enter second number")
        console.log(num2)
        console.log(typeof(num1),typeof(num2))
        var result=parseInt(num1)+parseInt(num2)
        
        console.log(result)
    </script> -->
    <!-- <script>
        var a=confirm("are you sure?")
        console.log(a)
    </script> -->
    <script>
        var a=10
        var result=a--
        console.log(a)
        console.log(result)
    </script>
    <script>
        var a=10
        var result=a**2
        console.log(a)
        console.log(result)
    </script>
    <script>
        var a=10
        var result=a++
        console.log(a)
        console.log(result)
    </script>
    <script>
        var a=10
        var result=a+=10
        console.log(a)
        console.log(result)
    </script>
    <script>
        var a=10
        var result=a-=10
        console.log(a)
        console.log(result)
    </script>
    <script>
        var a=10
        var result=a*=2
        console.log(a)
        console.log(result)
    </script>
    <script>
        var a=10
        var result=a/=2
        console.log(a)
        console.log(result)
    </script>
    <script>
        var a=10
        var result=a%=3
        console.log(a)
        console.log(result)
    </script>
    <script>
        var a=10
        var result=a**=2
        console.log(a)
        console.log(result)
    </script>
    <script>
        var a=10
        var b=20
        var result=a==b
        console.log(result)
    </script>
    <script>
        var a=10
        var b=20
        var result=a===b
        console.log(result)
    </script>
    <script>
        var a=10
        var b=20
        var result=a>=b
        console.log(result)
    </script>
    <script>
        var a=10
        var b=20
        var result=a<=b
        console.log(result)
    </script>
    <script>
        var a=10
        var b=20
        var result=a!=b
        console.log(result)
    </script>
    <script>
        var a=10
        var b=20
        var result=a!==b
        console.log(result)
    </script>
    <script>
        var a=10
        var b=20
        var result=a&&b
        console.log(result)
    </script>
    <script>
        var a=10
        var b=20
        var result=a||b
        console.log(result)
    </script>
</body>
</html>